{% extends 'base.html' %}


{% block title %}
About
{% endblock %}

{% block content %}
<div class="about-pg">
    <h3>About Us</h3>
    <div class="about-us">
        <p>Welcome to Drew's Cafe. A Place Where Coffee Meets Comfort!!!!<br>
            At drew's Cafe, we believe that a great cup of coffee is more than just a drink—it's an experience.
            Nestled in the heart of Bengaluru, our café is a cozy retreat for coffee lovers, foodies, and anyone looking
            for
            a warm,
            Welcoming space to relax, work, or catch up with friends.
        </p>
    </div>
    <h3>Our Story</h3>
    <div class="our-story">
        <p>Our journey began with a simple yet passionate vision: to create a café that serves exceptional coffee,
            delicious food, and fosters a sense of community.
            What started as a dream has now become a vibrant gathering place where people come together over the finest
            brews
            and freshly baked treats.
        </p>
    </div>
    <h3>Our Cafe and Menu</h3>
    <div class="about-us">
        <p>
            We take pride in sourcing high-quality, ethically grown coffee beans and crafting every cup with love.
            From rich espressos to creamy lattes, our skilled baristas ensure every sip is a delight. But we’re more
            than just coffee!
            Our menu features a variety of handcrafted pastries, hearty breakfast options, fresh sandwiches,
            and indulgent desserts—all made with fresh, locally sourced ingredients.
        </p>
    </div>
    <h3>Our Ambiance</h3>
    <div class="our-story">
        <p>Step into Drew's Cafe, and you'll find a space designed for comfort and connection.
            Whether you're looking for a quiet corner to work, a lively spot to chat with friends,
            or a cozy nook to unwind with a book, we have the perfect atmosphere for you.
        </p>
    </div>
    <h3>Join Us!!</h3>
    <div class="join-us">
        <p>
            Join Us!
            We love seeing new and familiar faces walk through our doors every day. Whether you're here for your morning
            caffeine fix, a casual brunch, or an evening wind-down, we promise to make your experience warm, inviting,
            and memorable.<br>

            Come visit us at Drew's Cafe, and let’s share a cup of happiness together!<br>
           
            📍 Location: J P Nagar<br>
            📞 Contact: 8050805800<br>
            📧 Email: drewscafe@gmail.com<br>
            🕒 Opening Hours: 11 am to 10pm
        </p>
    </div>
</div>

{% endblock %}